@media only screen and (max-width: 390px) {

	html, body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}

	.carousel-caption {
		margin-bottom: 80px;
	}

	#about-me-desc {
		width: 100%;
	}

	#about-me-picture {
		width: 100%;
		height: 100%;
	}

	img.me-4 {
		margin-right: 0px!important;
	}

	.col-footer {
		width:100%!important;
		text-align: center;
	}		

	.col {
		flex:0 0 auto;width:auto;
	}

	.footer-space {
		padding-top: 800px;
	}

	#frontend img {
		width: 380px;
		height: 372px;
	}	

	#backend img {
		width: 380px;
		height: 372px;
	}		
}

@media (min-width:1281px) {

	.desktop-hidden {
		display: none;
	}

	#main-div {
		width: 98%;
	}

	#about-me-desc {
		height: 500px;
		width: 600px;
		margin-right: -40px;
		margin-top: 40px;
		z-index: 1;
	}

	#about-me-picture {
		transform: rotate(0.008turn);
	}

	#footer-container {
		margin-left: 5rem;
	}

	#footer-social {
		padding-right: 6rem;
	}

	.footer-space {
		padding-top: 230px;
	}

	#frontend img {
		width: 420px;
		height: 392px;
	}

	#backend img {
		width: 420px;
		height: 392px;
	}
}

body {
	background-image: linear-gradient(black, rgb(232, 228, 209), black);
}

.navbar {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	background:
	linear-gradient(
		rgba(255, 255, 255, 0.03), 
		rgba(255, 255, 255, 0.03)
		);	
}

.navbar-toggler {
	color:blue
}

.text-underline-hover:hover {
	text-decoration: underline;
}

.carousel-item > div {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar-default{
	transition:500ms ease;
	background:transparent;
}
.navbar-default.scrolled {
	background:#000;
}

.carousel .carousel-item {
	height: 900px;
}

.carousel-item img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 900px;
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
}

.opacity-bg {
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		);
}

.service-card{
	text-align: center;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
	margin-bottom: 10%;
}

.service-card:hover{
	box-shadow: 4px 4px 4px rgba(58, 105, 243, 0.3);
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

.service-card i{
	font-size: 150px;
	padding: 10% 0;
	background-color: #f3f3f3;
	color: rgb(33,37,41);
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
}

.service-card:hover i{
	color: #fff;
	transition: all ease-in-out 0.5s;
}

.service-card i:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom center;
	background: linear-gradient(to left,#212529,#444d55,#444d55,#212529);
	z-index: -1;
	transition: transform 0.5s;
}

.service-card:hover i::after {
	transform: scaleY(1);
}

.service-card h3 {
	margin-top: 2%;
	font-size: 44px;
	font-weight: bold;
	color: #464646;
}

.service-card h5 {
	color: #464646;
}

#frontend {
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
	url(img/frontend.jpg
		);
	background-attachment: fixed;
}

#backend {
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
	url(img/backend.jpg
		);
	background-attachment: fixed;
}

.text-gray {
	color: DarkGray;
}

footer {
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.8), 
		rgba(0, 0, 0, 0.8)),
	url(img/footer-bg.jpg
		);	
}

#back-to-top {
	z-index: 3;
	bottom: 20px;
	right: 20px;	
}